.headerSection {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 6rem 0;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--secondary-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.timelineItem {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.content {
    padding: 20px 30px;
    background-color: var(--white);
    position: relative;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.year {
    display: inline-block;
    background-color: var(--accent-color);
    color: #000;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 10px;
}

.timelineItem::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    background-color: var(--white);
    border: 4px solid var(--secondary-color);
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}

.right::after {
    left: -10px;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

@media (max-width: 768px) {
    .timeline::after {
        left: 31px;
    }

    .timelineItem {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timelineItem::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 21px;
    }

    .right {
        left: 0;
    }
}